In [33]:
import sys
import os
import pandas as pd
from IPython.display import display

CURR_DIR = os.getcwd()
print(os.path.basename(CURR_DIR))
print(CURR_DIR)

Aksjer11
C:\Users\magnu\Desktop\Aksjer11

In [34]:
oslo_bors_df=pd.read_csv(CURR_DIR+"/symboler_oslo_bors.csv").drop(['ISIN', 'Market'], axis=1)
oslo_bors_df.to_csv("name_symbol_all_oslo_bors.txt", index=False)

In [47]:
portfolio_df=pd.DataFrame([],columns=["Name", "Symbol"])
candidates_df=pd.DataFrame([],columns=["Name", "Symbol"])
portfolio_df=pd.read_csv(CURR_DIR+"/portfolio.txt")
candidates_df=pd.read_csv(CURR_DIR+"/candidates.txt")
portfolio_df.sort_values(by=['Name']).reset_index(drop=True)
candidates_df.sort_values(by=['Name']).reset_index(drop=True)
print("Portfolio")
display(portfolio_df)
print("Candidates")
display(candidates_df)

Portfolio

Empty DataFrame
Columns: [Name, Symbol]
Index: []

Candidates

                  Name Symbol
0          NORSKE SKOG  NSKOG
1    NORDIC SEMICONDUC    NOD
2              EQUINOR   EQNR
3                 FLYR   FLYR
4              SBANKEN  SBANK
5          PLAY MAGNUS    PMG
6             SEADRILL   SDRL
7    SANDNES SPAREBANK   SADG
8   SPARBNK 68 GR NORD   SB68
9      SPAREBANK 1 SMN   MING
10   SPAREBANK 1 SR-BK  SRBNK
11    SPAREBANK 1 SØRØ   SOON
12    SPAREBANKEN MØRE   MORG
13     SPAREBANKEN SØR    SOR
14    SPAREBANKEN VEST   SVEG
15     SPAREBANKEN ØST   SPOG
16     SPBK 1 NORDMØRE   SNOR
17    SPBK 1 ØSTLANDET   SPOL
18     SPBK1 HELGELAND   HELG
19    SPBK1 NORD-NORGE   NONG
20     SPBK1 RINGERIKE   RING
21   SPBK1 ØSTFOLD AKE   SOAG
22          STOREBRAND    STB
23  YARA INTERNATIONAL    YAR
24    TOTENS SPAREBANK   TOTG
25             TELENOR    TEL
26  NORWEGIAN AIR SHUT    NAS
27         NORSK HYDRO    NHY
28         NORSK SOLAR   NSOL

In [37]:
#LAGER og OVERSKRIVER PORTFOLIO.TXT, OBS OBS OBS
#oslo_bors_follow_df.to_csv("portfolio_2.txt", index=False)
#oslo_bors_follow_df.to_csv("candidates_2.txt", index=False)